header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0%;
  right: 0%;
  height: 60px;
  text-decoration: none;
  transform: 3s;
}
.my {
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  margin-left: 30px;
}
.my a {
  background: linear-gradient(45deg, #bfff00, rgb(255, 105, 51));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
a {
  color: white;
  text-decoration: none;
}
.about {
  margin-right: 100px;
}

.about a {
  margin-right: 25px;
  font-size: 17px;
}
a.home,
a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sec {
  background: linear-gradient(-90deg, #031540 65%, white 35%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.homed {
  margin-right: 20px;
  color: white;
  text-align: right;

  width: 50%;
  padding-left: 50px;
  padding-right: 10px;
}
.homed h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.homed h2 {
  font-size: 40px;
  margin-right: 40px;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -410 0;
  animation: animateText 6s linear infinite;
}
@keyframes animateText {
  0%,
  95%,
  100% {
    background-position: -410px 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}
p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  text-spacing-trim: 20px;
}
.icons {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.icons a {
  margin-left: 10px;
}
.fb {
  width: 500px;
}
.icons img {
  border-radius: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
}
.icons img:hover {
  border-color: greens;
}
button {
  background-color: orange;
  border-radius: 10px;
  color: white;
  margin-right: 100px;
  cursor: pointer;
}
button:hover {
  background-color: #b9601c;
}
.imgn {
  width: 40%;
  height: 400px;
  margin-left: 20px;

  margin-bottom: 50px;
  background-color: transparent;
  outline: 30px #bfc1c5;
}
.imgn img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;

  border-radius: 100%;
}
